body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    overflow: hidden;;
}

.container {
    width: 120%;
    height: 585px;
    max-width: 1000px;
    margin: 30px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #000e0c;
    font-size: 30px;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color:midnightblue;
}

input,
select {
    width: 20%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #0c0000;
}

.error-message {
    color: #ff0000;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}

.btn-container {
    text-align: center;
    margin-top: 20px;
    text-align: left;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color:#2b642d
}

.result-container {
    display: none;
    margin-bottom: 10px;
    color: #0a0000;
    margin-top: 10px;
    text-align: left;
    font-weight: bold;
}

.result-container label {
    font-weight: bold;
    margin-bottom: 5px;
}

.result-container span {
    font-weight: normal;
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 24px;
    }

    button {
        font-size: 14px;
    }
}

.container {
    background-image: url("1.png");
    background-size: cover;
}

.container.sunny {
    background-image: url("giphy (1).gif");
}

.container.winter {
    background-image: url("giphy.gif");
}
